.navbar {
  height: 50px;
  background-color: #0b045e;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  /* background-color: #f8f8f8; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  color: #0b045e;
}
