.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #2b6777;
  color: white;
  flex-direction: column;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 50px;
}

.mailInputContainer > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 2px 2px 2px 2px;
  margin-right: 10px;
}

.mailInputContainer > button {
  height: 50px;
  background-color: #2b6777;

  color: white;
  font-weight: bolder;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
